*{
    margin:0px auto;
}
header{
    background-color: goldenrod !important;
    margin-bottom: 0px;
}
footer{
    background-color: goldenrod !important;
    margin-bottom: 0px;
    height: 150px;
}

nav{
    background-color: rgb(194, 194, 233);
    
}
section{
    background-color: rgb(66, 65, 65) ;
    color: rgb(255, 255, 255);
}